.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 16px;
    background-color: #ebbc7f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input[type="text"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-buttons {
    display:block;
    justify-content:right;
    /* Align buttons to the right */
    gap: 10px;
}

button.small-button {
    padding: 8px 16px;
    /* Adjusted padding for smaller buttons */
    border-radius: 8px;
    border: none;
    background-color: rgb(109, 189, 77);
    color: white;
    font-size: 0.875rem;
    /* Smaller font size */
    cursor: pointer;
}

button.small-button:hover {
    background-color: rgb(214, 111, 26);
}

button.small-button:disabled {
    background-color: grey;
    cursor: not-allowed;
}